{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'main/head.html' %}
</head>

<body class="index-page">

{% include 'main/header.html' %}

<main class="main">

    {% include 'main/hero.html' %}

    {% include 'main/get_started.html' %}

    {% include 'main/constructions.html' %}

    {% include 'main/services.html' %}

    {% include 'main/alt_services.html' %}

    {% include 'main/features.html' %}

    {% include 'main/projects.html' %}

    {% include 'main/testimonials.html' %}



</main>

{% include 'main/footer_section.html' %}

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Preloader -->
<div id="preloader"></div>

{% include 'main/jsfiles.html' %}

</body>
</html>
