{% extends "main/base.html" %}
{% block title %}Home - Constructo{% endblock %}
{% block content %}

    {% include "main/includes/_hero.html" %}
    {% include "main/includes/_about.html" %}
    {% include "main/includes/_services.html" %}
    {% include "main/includes/_projects.html" %}
    {% include "main/includes/_testimonials.html" %}
    {% include "main/includes/_certifications.html" %}
    {% include "main/includes/_team.html" %}
    {% include "main/includes/_call_to_action.html" %}

{% endblock %}
