{% extends "main/base.html" %}
{% load static %}

{% block content %}

    {# Hero Section #}
    {% include "main/includes/hero.html" %}

    {# Get Started Section #}
    {% include "main/includes/get_started.html" %}

    {# Constructions Section #}
    {% include "main/includes/constructions.html" %}

    {# Services Section #}
    {% include "main/includes/services.html" %}

    {# Alt Services Section #}
   <!-- { include "main/includes/alt_services.html" %}

    {# Features Section #}
    { include "main/includes/features.html" %} -->

    {# Projects Section #}
  <!--   { include "main/includes/projects.html" %} -->

    {# Testimonials Section #}
  <!--   { include "main/includes/testimonials.html" %} -->

    {# Blog Posts Section #}
 <!--     { include "main/includes/recent_blog_posts.html" %} -->

{% endblock content %}
