{% load static %}
<section id="constructions" class="constructions section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Neler Yapıyoruz</h2>
        <p>DRN Ahşap Atölyesi olarak mekânınıza ve ihtiyacınıza özel tasarlıyor, üretiyor ve anahtar teslim
            uyguluyoruz.</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg">
                                <img src="{% static 'assets/img/constructions/constructions-1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Tasarım &amp; Projelendirme</h4>
                                <p>İhtiyaçlarınızı dinleyip ölçü alıyoruz; mekâna uygun 3D tasarım ve teknik çizimleri
                                    hazırlıyoruz. Malzeme, fonksiyon ve bütçeyi birlikte optimize ediyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg">
                                <img src="{% static 'assets/img/constructions/constructions-2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Uygulama &amp; Montaj</h4>
                                <p>Atölyemizde üretimi tamamlanan mobilyaları termin planına uygun olarak sahada monte
                                    ediyor, detaylı kalite kontrol sonrası anahtar teslim teslim ediyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg">
                                <img src="{% static 'assets/img/constructions/constructions-3.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Tadilat &amp; Yenileme</h4>
                                <p>Mevcut alanları işlev kaybı olmadan yeniliyoruz. Demontaj, onarım ve güncelleme
                                    süreçlerini hızlı ve temiz yürütüyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg">
                                <img src="{% static 'assets/img/constructions/constructions-4.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Özel Mobilya &amp; Ahşap Uygulamalar</h4>
                                <p>Mutfağınızdan giyinme odanıza, kapıdan merdivene kadar ölçünüze özel üretimler
                                    yapıyoruz. Doğal dokuyu kaliteyle buluşturuyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

        </div>
    </div>

</section>
